.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 50px;
      margin: 20px;
      display: flex;
      border-radius: 0.7rem;
      background-color: #7451f8;
      &:hover {
        box-shadow: #c9bcf7 10px 10px 40px -10px;
      }

      h1 {
        color: rgb(255, 255, 255);
        font-size: 32px;
      }
    }
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 50px;
      margin: 20px;
      display: flex;
      border-radius: 0.7rem;
      &:hover {
        box-shadow: #c9bcf7 10px 10px 40px -10px;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;
            &:hover {
              color: #7451f8;
            }
            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                width: 40px;
                height: 40px;
                cursor: pointer;
                &:hover {
                  color: #7451f8;
                }
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              outline: none;
              border-bottom: 1px solid gray;
              &:hover {
                border-bottom: 3px solid #7451f8;
              }
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            color: white;
            margin-top: 10px;
            font-size: 16px;
            box-shadow: #7451f8 30px 20px 30px -10px;
            border-radius: 0.4rem;
            background-color: #c9bcf7;
            cursor: pointer;
            align-items: center;
            &:hover {
              background-color: #7451f8;
            }
          }
        }
      }
    }
  }
}
